.header {
    width: 1000px;
    height: fit-content;
    border: 2px solid #ececec;
}

.header-container {
    display: flex;
    flex-direction: column;
    padding: 25px;
}

.header-info {
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom: 2px solid #ececec;
}

.header-pic {
    height: 150px;
    width: 150px;
    border-radius: 100%;
    object-fit: cover;
}

.header-bio {
    justify-self: center !important;
    align-self: center !important;
    text-align: center;
}

.header-button {
    width: 200px !important;
    height: 50px;
    border-radius: 25px;
    border: none;
    background: var(--orange);
    color: var(--purple);
    font-size: 1.2rem;
    font-weight: 600;
    outline: none;
}

.header-name-button {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-left: 45px;
    margin-right: 45px;
    margin-top: 15px;
    margin-bottom: 15px;
}

.following-followers {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 25px;
}

.profile-link {
    text-decoration: none;
    color: black;
    font-weight: 400;
    font-size: 1.25rem;
    margin-right: 100px;
    margin-left: 100px;
}
