:root {
    --independence: #383e56;
    --purple: #111344;
    --orange: #fb743e;
    --light-blue: #9fb8ad;
    --white: #ebebeb;
}

.header {
    width: 1000px;
    height: fit-content;
    border: 2px solid #dedede;
}

.header-container {
    display: flex;
    padding: 25px;
}

.header-info {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    align-self: flex-start !important;
}

.header-pic {
    height: 150px;
    width: 150px;
    border-radius: 100%;
    object-fit: cover;
    border: 3px solid #dedede;
}

.header-bio {
    align-self: flex-start !important;
    justify-self: center !important;
    text-align: center;
}

.header-button {
    width: 200px !important;
    height: 50px;
    border-radius: 25px;
    border: none;
    background: var(--orange);
    color: var(--purple);
    font-size: 1.2rem;
    font-weight: 600;
    outline: none;
    justify-self: space-between !important;
    align-self: flex-end !important;
    margin: 5px;
}

.header-button:hover {
    cursor: pointer;
    background: var(--purple);
    color: var(--orange);
    transition: 250ms;
    border: 1px solid var(--light-blue);
}

.header-name-button {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    padding-bottom: 30px;
    padding-left: 25px;
}

.following-followers {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin-top: 25px;
}

.profile-link {
    width: 200px !important;
    height: 50px;
    border-radius: 25px;
    border: none;
    background: var(--orange);
    color: var(--purple);
    font-size: 1.2rem;
    font-weight: 600;
    outline: none;
    justify-self: space-between !important;
    align-self: flex-end !important;
    margin: 5px;
}
