:root {
    --independence: #383e56;
    --purple: #111344;
    --orange: #fb743e;
    --light-blue: #9fb8ad;
    --white: #ebebeb;
}

.edit-container {
    width: fit-content;
    height: fit-content;
    border: 2px solid #dedede;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 25px;
}

input[type='file'] {
    display: none;
}

.pic-input-default {
    display: flex;
    height: 100px;
    width: 100px;
    border-radius: 100%;
    background: var(--white);
    align-items: center;
    justify-content: center;
    border: 2px solid #dedede;
}

.img-div {
    margin-bottom: 10px;
    margin-top: 10px;
}

.edit-bio-text {
    resize: none;
    overflow: hidden;
    height: 100px;
    border: 2px solid #dedede;
    background: var(--white);
}

.edit-bio-text:focus {
    outline-width: 0;
}

.edit-h5 {
    text-align: justify;
    font-size: 1.5rem;
}

.edit-submit {
    background: var(--orange);
    width: 100%;
    height: 40px;
    border: 1px solid;
    margin-top: 10px;
    margin-bottom: 10px;
    border-color: #fb743e #fc8b5f #fc9a73;
    border-radius: 25px;
    font-size: 1.2rem;
    font-weight: 400;
    margin-bottom: 20px;
    padding: auto;
}

.edit-submit:hover {
    cursor: pointer;
}

.edit-link {
    text-decoration: none;
    margin-bottom: 5px;
    color: black;
}

.edit-link:hover {
    color: var(--orange);
}
