:root {
    --independence: #383e56;
    --purple: #111344;
    --orange: #fb743e;
    --light-blue: #9fb8ad;
    --white: #ebebeb;
}

.edit-page {
    margin-top: 80px;
    display: flex;
    justify-content: center;
}
