:root {
    --independence: #383e56;
    --purple: #111344;
    --orange: #fb743e;
    --light-blue: #9fb8ad;
    --white: #ebebeb;
}

.following-page {
    margin-top: 80px;
    display: flex;
    justify-content: center;
}

.following-container {
    max-width: 1500px !important;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.following-h1 {
    margin-top: 15px;
    margin-bottom: 15px;
}

.following-loading {
    margin-top: 50px;
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
}
