.home-page {
    margin-top: 80px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.home-container {
    max-width: 1500px !important;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
